<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SMFGC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
      <add key="db_host" value="localhost"/>
      <add key="db_port" value="3306"/>
      <add key="db_name" value="smfgc_db"/>
      <add key="db_user" value="smfgc"/>
      <add key="db_pass" value="P@ssw0rd"/>
      <add key="server_port" value="2316"/>
  </appSettings>
</configuration>